.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 50px;
  padding-bottom: 100px;
  position: relative;
}

.box-plots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 80%;
}

.box {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box:last-of-type {
  margin-bottom: 15px;
}

.number {
  cursor: pointer;
  /*  */
}
.numberList {
  margin: 0 15px;
  user-select: none;
}

.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

button span {
  font-style: italic;
}

header,
footer {
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  padding-bottom:15px;
  /* footer should be at bottom  without margin */
}

form {
  display: flex;
  margin: 0 15px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

form input[type="text"] {
  width: 40px;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.aditional-features {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}

canvas {
  cursor: pointer;
}

h1 {
  margin-top: 15px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .box-plots {
    display: flex;
    flex-direction: column;
  }

  .form form {
    flex-direction: column;
  }
}

code {
  padding: 0 5px;
}
